<h1><%= @content %></h1>

<div>名前：<input type="textfield" name="name" size=40></div>

<button id="btn">
押してみ
</button>

<script type="text/javascript">
  btn = document.getElementById("btn");
  btn.onclick = function(){
    alert('HELOOOOOO!!!!!!');
  }
</script>
